body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
  }
 
   
  body, h4, h5, h6,p {
    font-family: 'Roboto', sans-serif;
  }

  p, h1, h2, h3, h4, h5, h6{
    margin: .2rem 0 .5rem 0;
  }
  
  body, html {
    line-height: 1.8;
  }
 

  main{
    padding: 1.5rem 2.5rem 0rem 2rem;
  }

  .contenedor-app {
    display: flex;
    height: 100vh;
}
  
.seccion-principal {
    flex: 6;
    background-color: rgb(235, 233, 233);
}

aside  {
  padding: 1.6rem;
  background-color: rgb(50,20,90);
}

.app-header {
  display: flex;
  background-color: rgb(245, 245, 245);
  padding: .8rem 2rem;
}

.flex-container{
  display: flex;  
  height: 100%;      /* Lay out each item using flex layout */
}
.flex-container-row{
  display: flex; 
  flex-direction: row;
  height: 100%;      /* Lay out each item using flex layout */
}

.section-left{
  background-color: rgb(180 220 120);
  flex-grow: 1.5;
  border-radius: .5rem;
  padding: .5rem;
  box-shadow: 2px 2px 6px -1px rgba(128,128,128,1);
  width: 20%;
}

.section-right{
  margin-left: 1rem;
  flex-grow: 4;
  width: 80%;
}

.section-item{
    flex-flow: column; 
    flex: 1;
}

.section-item-two{
  flex-flow: column; 
  flex: 3;
}

.mr-1{
  margin-right: 1rem;
}

.mb-2{
  margin-bottom: 2rem;
}

.mb-1{
  margin-bottom: 1rem;
}

.height-110{
  height: 110px;
}

.height-220{
 height: 200px;
}

.height-130{
  height: 130px;
}

.card-light{
  background-color: rgb(245, 245, 245);;
  border-radius: 1.5rem;
  padding: 1rem;  
  border: 1px solid rgb(219, 219, 219);
}

.row{
  display: block;
}

.flex-container-list{
  display: flex;  
  height: 40%;
  border-bottom: 1px solid rgb(50,20,90); 
  padding:  1rem .5rem  ;
  align-items: center;
  }

 .container-list{
  overflow-y: auto;    /* Trigger vertical scroll    */
  overflow-x: hidden;
  height: 65%;
  padding:  .5rem;
  background-color: rgb(235, 233, 233, .8); 

 } 

 i{
  margin-right: .2rem;
 }

 .cover{
  height: 100%;

 }

 .card-image{
  height: 60px;
  width: 60px;
  object-fit: cover;
 }

 .text-center{
  text-align: center;
 }

 .card-image-top{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: .5rem;
 }

 .card-image-rounded{
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
 }


.text-cut {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp:2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

h4{
  line-height: 1.4rem;
}
p{
  font-size: .8rem;
  line-height: 1.2rem;
}

a{
  color: rgb(50,20,90);
}

.pt-2{
  padding-top: 2.5rem;
}

.pr-2{
  padding-right: 2rem;
}

.justify-around{
  justify-content: space-around;
}

span{
  font-size: .8rem;
    color: gray;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}